* {
    border: 2px solid red;
}

body {
    background-color: antiquewhite;
}

.Pagetop {
    background-color:darkkhaki;
    display: flex;
}

.Pagetop div{
    flex: 1;
}
.logocontainer {
    flex-basis: auto;
    width: 200px;    
}

.logo {
    width:40px;
    height: 40px;
}

.empty {
    flex:2;
}

.menu {
    flex-basis:auto;
    text-align: right;
    width:200px
}

.heading {
    background-color: black;
    color: gold;
    font-size: 36px;
    text-align: center;
    border: none;
    margin: auto;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    width: auto;
    
}

